<!--start footer-->
<footer style="width:100%; background-color:#337AB7;">
    <!--footer content-->
    <div class="container" style="background-color:#337AB7;color:white;">
        <div class="row" style="background-color:dodgerblue; margin-top:1%; ">
            <div class="col-sm-6 col-md-4">
                <center>
                    <img src="~/Content/Images/logos.png" /><br />
                    GOVT. REGD. NO. 12345/1234/1235<br />
                    PAN NO. 101101011 | TOURISM REGD. NO. 11111/2018
                </center>
            </div>

            <div class="col-sm-6 col-md-4">
                Post Box: 13626, Thamel, Kathmandu, Nepal<br>
                <span class="glyphicon glyphicon-earphone"></span> +977-1-4253677<br>
                <span class="glyphicon glyphicon-phone"></span>+977 9812345678, +977 9841234567 (Mr. Angdawa Lama)<br>
                <span class="glyphicon glyphicon-envelope"></span>Trekkingandtours@gmail.com<br>
                <span class="glyphicon glyphicon-skype"></span>AngdawaHyolmo<br>
            </div>

            <div class="col-sm-6 col-md-4">
                <center>
                    <div>

                        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
                        <style>
                            .social:hover {
                                -webkit-transform: scale(1.1);
                                -moz-transform: scale(1.1);
                                -o-transform: scale(1.1);
                            }

                            .social {
                                color: lightgray;
                                -webkit-transform: scale(0.8);
                                /* Browser Variations: */
                                -moz-transform: scale(0.8);
                                -o-transform: scale(0.8);
                                -webkit-transition-duration: 0.5s;
                                -moz-transition-duration: 0.5s;
                                -o-transition-duration: 0.5s;
                                padding: 0 0 0 0;
                            }
                            /*Multicoloured Hover Variations*/
                            #social-fb:hover {
                                color: #3B5998;
                            }

                            #social-tw:hover {
                                color: #4099FF;
                            }

                            #social-gp:hover {
                                color: #d34836;
                            }

                            #social-em:hover {
                                color: #f39c12;
                            }
                        </style>
                        <div>
                            <div class="text-center center-block">
                                Get Social With Us
                                <br />
                                <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                                <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                                <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                            </div>
                            <br />

                            We are Associated With
                            <br />
                            <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                            <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                            <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                            <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                        </div>

                    </div>
                </center>
            </div>
        </div>

        <!--copyright-->
        <div style=" height:5vh; width:auto;">
            <center><b>Himalayan Adventure Treks & Tours Pvt. Ltd. All Rights Reserved.</b></center>
        </div>
    </div>
</footer>

<!--end footer-->